/*   - layout.css     (encabezado, pie de página, cuadrículas) */

/* HEADER */

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    
}

.lista-menu{
    display: none;
}


@media (min-width: 769px) {
    .lista-menu {
        display: flex;
    }

    .correo-contacto{
        display: none;
    }
}