/*   - layout.css     (encabezado, pie de página, cuadrículas) */



/* 1. MOBILE */

body {
    font-family: var(--fuente-raleway);
    /* margin: auto;
    padding: 0 16px; */

    /* max-width: 1168px; */
    font-size: 14px;

}



/* header mobile */
header {

   
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1168px;

}

header,
.intro,
.skills,
.hobbies,
.proyectos,
footer {
    background-color: var(--color-secundario);
}

.sobre-mi,
.formacion,
.contacto {
    background-color: var(--color-terciario);
}


.lista-menu {
    display: none;


}

/* 1.2. INTRO */

header,
section {
    padding: 16px 16px;
    max-width: 1168px;
}

.intro {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}

.descripcion-intro h2 {
    font-weight: 700;
    font-size: 1.375rem;

}

p {

    font-size: 1rem;

}

.descripcion-intro p {
    margin: 1rem 0;
}

.lista-redirecciones {
    display: flex;
    gap: 0.5rem;
}

.img-intro {
    max-width: 98px;
    height: auto;
    aspect-ratio: 1/1;
}





/* 2. TABLET and (max-width: 768px) */
@media screen and (min-width: 475px) {
    body {

        font-size: 14px;

    }

    header, 
    section,
    footer {
        
        padding: 16px 32px;
        max-width: 1168px;
    }

    
    header,
    footer,
    .intro,
    .skills,
    .hobbies,
    .proyectos{
        background-color: var(--color-secundario);
    }

    .sobre-mi,
    .formacion,
    .contacto {
        background-color: var(--color-terciario);
    }

    /* 2.1. INTRO */
    .intro {
        display: flex;
        flex-wrap: nowrap;


    }

    .descripcion-intro {
        max-width: 524px;
/* Tablet */
    body {
        font-size: 0.875rem;
        /* 14px */
        padding: 0 2rem;
        /* 32px */
    }


    .intro {
        flex-wrap: nowrap;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .img-intro {
        max-width: 146px;

        height: auto;
        aspect-ratio: 1/1;
    }

    

    .descripcion-intro h2 {
        font-size: 1.375rem;
        /* 22px */
    }

    .descripcion-intro p {
        font-size: 1rem;
        /* 16px */
    }
    .lista-redirecciones {
        font-size: 1rem;
        display: flex;
        gap: 32px;
        flex-wrap: nowrap;

    }
}

    



/* 3. DESKTOP */
/* @media screen and (min-width: 769px) */
@media screen and (min-width: 769px) {
    body {

        font-size: 16px;

    }

    header, 
    section, 
    footer {
        
        padding: 32px 64px;
        
        max-width: 1136px;
        

    }

    header,
    footer,
    .intro,
    .skills,
    .hobbies,
    .proyectos {
        background-color: var(--color-secundario);
    }

    .sobre-mi,
    .formacion,
    .contacto {
        background-color: var(--color-terciario);



/* Desktop */



    /*  HEADER desktop */
    .lista-menu {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        font-size: 1rem;
        /* 16px */
        font-weight: 500;
        color: #464646;
    }

    .correo-contacto {
        display: none;

    }

    /* section intro desktop */

    .intro {
        display: flex;
        align-items: center;

        flex-wrap: nowrap;
        /* margin: 32px auto; */

        gap: 32px;
    }

    .descripcion-intro {
        max-width: 100%;
        max-height: 100%;

    }

    .descripcion-intro p {
        margin: 24px 0;
    }

    


    .descripcion-intro h2 {
        font-weight: 700;
        font-size: 3.25rem;
        /* 52px */
    }


    .lista-redirecciones {
        display: flex;
        gap: 2rem;
    }


    .img-intro {
        max-width: 368px;
        height: auto;
        aspect-ratio: 1/1;
    }

    /* SOBRE MI */
    .sobre-mi {
        background-color: var(--color-terciario);
    }

}