/*   - layout.css     (encabezado, pie de página, cuadrículas) */

html {
    font-size: 100%;
    /* 16px */
}





/* Estilos predeterminados (MOBILE) */
body {
    font-size: 0.875rem;
    /* 14px */
    font-family: var(--fuente-raleway);
    color: var(--color-fuente);

}



.div-header,
.section-div-intro,
.section-div-sobre-mi,
.section-div-skills,
.section-div-hobbies,
.section-div-formacion,
.section-div-proyectos,
.section-div-contacto,
.div-footer {
    padding: 1rem;
}




p,
a {
    font-size: 0.875rem;
}

figcaption {
    font-size: 1rem;
    font-weight: bold;
}

h2 {
    font-size: 1.375rem;
    font-weight: bold;

}

h3 {
    font-size: 1rem;
    font-weight: bold;
}




/* header mobile */

#header {
    background-color: var(--color-primario);
}

.titulo-seccion {
    text-align: center;
}

.div-header {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.lista-menu {
    display: none;
}

.evedev,
.correo-contacto {
    font-size: 1rem;
}

.evedev {
    font-weight: bold;
}


/* section intro */
.intro {
    background-color: var(--color-primario);
}

.section-div-intro {
    display: flex;
    flex-wrap: wrap-reverse;
}

.descripcion-intro {
    width: 100%;
}

.descripcion-intro h2 {
    font-weight: 700;
    font-size: 1.375rem;
    /* 22px */
}

.descripcion-intro p,
h2,
ul {
    padding: 1rem 0;
}



.img-intro {
    margin: 1rem 0;
    width: 98px;
    height: 98px;


    background-image: url(https://acortar.link/pytFTe);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.lista-redirecciones {
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.lista-redirecciones li {
    display: flex;
}

.lista-redirecciones li a {
    font-weight: 600;
}

/* section sobre mi */
#sobre-mi {
    background-color: var(--color-secundario);
}



/* section skills */
#skills {
    background-color: var(--color-primario);


}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 32px;



}

.skills-grid-card {
    padding: 16px;


    height: 102px;
    background-color: #ffffff;

    align-content: flex-end;

}

.skills-grid-card figcaption {
    margin-top: 8px;
}

.skills-grid-card img {

    height: 37px;
    width: auto;
}


/* section hobbies */
#hobbies {
    background-color: var(--color-primario);

}


.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 32px;



}

.hobbies-grid-card {
    padding: 16px;


    height: 102px;
    background-color: #ffffff;

    align-content: flex-end;
}

.hobbies-grid-card figcaption {
    margin-top: 8px;
}

/* section formacion */
#formacion {
    background-color: var(--color-secundario);
}

.formacion-academica {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); */
    grid-template-columns: repeat(auto-fit);
    grid-gap: 16px;
}

.formacion-academica figure {
    height: 169px;
}

.formacion-academica h3,
p {
    padding-top: 8px;
}

.img-formacion {
    height: 118px;
    background-color: #ffffff;
    display: flex;
    align-items: center;



}


.formacion-academica figure img {

    height: 84px;
    width: auto;
    margin: auto;
}

.formacion-academica figcaption {

    background: none;



    align-content: flex-end;
}

/* section proyectos/experiencia */
#proyectos {
    background-color: var(--color-primario);
}

.proyectos-realizados {

    display: grid;
    grid-template-rows: repeat(1fr);
    grid-gap: 64px;
}

.proyecto-card {
    height: 251px;
    width: 100%;

}

.description-project {
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 8px;
    margin-top: 16px;


}

.description-project p {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.img-project-card {
    height: 144px;
    width: 100%;
    object-fit: cover;
}

.botones-enlaces {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;

}

.botones-enlaces li {
    width: 96px;
    height: 40px;
    border: 1px #2A7AE4 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;



}

.boton-repo {
    color: #2A7AE4;


}

.boton-demo {
    background-color: #2A7AE4;
}

.link-demo {
    color: #ffffff;
}

/* section contacto */
#contacto {
    background-color: var(--color-secundario);
}


label,
input,
button,
textarea {

    display: block;
    /* width: 100%; */
    border: none;


}

.form-contact {
    display: grid;
    width: 100%;
    grid-gap: 32px;
}

label {
    padding: 7px 12px;
    background-color: #ffffff;
    color: #A2A2A2;
    font-size: 12px;
    border-bottom: 1px #A2A2A2 solid;
}

label:hover {
    border: none;
    border-bottom: 2px #2A7AE4 solid;
    color: #2A7AE4;
}

input {
    height: 20px;
    color: #464646;
    font-size: 16px;
    border: none;
}

/* Elimina el borde de enfoque en los campos de entrada */
input:focus,
textarea:focus {
    outline: none;
    /* Quita el borde de enfoque predeterminado */
    border: none;
    /* Puedes agregar un borde personalizado si quieres */

}

.input {
    margin-top: 4px;
}

textarea {
    font-family: var(--fuente-raleway);
    font-size: 16px;
    resize: none;
}

.submit {
    background-color: #2A7AE4;
    color: #ffffff;
    width: 133px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.section-div-contacto img {
    display: none;
}

/* footer */
.footer {
    text-align: center;
}




/* Tablet */
@media screen and (min-width: 475px) {
    body {
        font-size: 0.875rem;
        /* 14px */

    }

    

    .div-header{
        padding: 1rem 2rem;
    }


    .section-div-intro,
    .section-div-sobre-mi,
    .section-div-skills,
    .section-div-hobbies,
    .section-div-formacion,
    .section-div-proyectos,
    .section-div-contacto,
    .div-footer  {
        padding: 2rem;
    }


    header {
        background-color: var(--color-primario);
    }





    p,
    a {
        font-size: 1rem;
    }

    figcaption {
        font-size: 1rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.375rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1rem;
        font-weight: bold;
    }

    .evedev,
    .correo-contacto {
        font-size: 1rem;
        font-weight: bold;
    }

    .section-div-intro {
        display: grid;

        grid-template-columns: minmax(260px, 524px) 146px;

        align-items: center;
        grid-gap: auto;
        background-color: var(--color-primario);

    }

    .img-intro {
        width: 146px;

        height: 146px;



        background-image: url(https://acortar.link/pytFTe);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        aspect-ratio: 1 / 1;

    }



    .descripcion-intro h2 {
        font-size: 1.375rem;
        /* 22px */
    }

    .descripcion-intro p {
        font-size: 1rem;
        /* 16px */
        padding: 0.5rem 0;
    }

    .lista-redirecciones {
        font-size: 1rem;
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }

    /* section sobre mi */
    #sobre-mi {
        background-color: var(--color-secundario);
    }

    /* section skills */
    #skills {
        background-color: var(--color-primario);
    }





    /* section hobbies */
    #hobbies {
        background-color: var(--color-primario);
    }

    /* section formacion */
    #formacion {
        background-color: var(--color-secundario);
    }

    .formacion-academica {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .formacion-academica figure {
        height: 169px;
    }

    /* section proyectos/experiencia */
    #proyectos {
        background-color: var(--color-primario);
    }

    .proyecto-card {
        height: 438px;
    }

    .proyecto-card img {
        height: 320px;
    }

    /* section contacto */
    #contacto {
        background-color: var(--color-secundario);
    }

    .section-div-contacto img {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: 769px) {
    body {
        font-size: 1rem;
        /* 16px */

        margin: auto;
    }

    

    .div-header,
    .section-div-intro,
    .section-div-sobre-mi,
    .section-div-skills,
    .section-div-hobbies,
    .section-div-formacion,
    .section-div-proyectos,
    .section-div-contacto,
    .div-footer {
        padding: 2rem;
        margin: auto;
        max-width: 1136px;
    }


    /* Header */
    .evedev,
    .lista-menu-contacto {
        font-size: 1rem;
        font-weight: bold;
    }

    p,
    a {
        font-size: 1rem;
    }

    figcaption {
        font-size: 1rem;
        font-weight: bold;
    }

    h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.375rem;
        font-weight: bold;
    }

    /*  HEADER desktop */
    header {
        background-color: var(--color-primario);
    }

    .lista-menu {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        font-size: 1rem;
        /* 16px */
        font-weight: 500;
        color: #464646;
    }

    .correo-contacto {
        display: none;
    }

    /* section intro desktop */
    .intro {
        background-color: var(--color-primario);
    }

    .section-div-intro {
        display: flex;
        align-items: center;

        flex-wrap: nowrap;

        justify-content: space-between;
    }

    .descripcion-intro {
        max-width: 751px;

        padding: 2rem 0;
    }

    .descripcion-intro h2 {
        font-weight: 700;
        font-size: 3.25rem;
        /* 52px */
    }

    .descripcion-intro p {
        padding: 1.5rem 0;
        font-size: 1.375rem;
    }

    .img-intro {
        width: 368px;
        height: auto;
        min-width: 146px;

        background-image: url(https://acortar.link/pytFTe);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        aspect-ratio: 1 / 1;
    }

    .lista-redirecciones {
        font-size: 1rem;
        display: flex;
        gap: 32px;
        flex-wrap: nowrap;
    }

    /* section sobre mi */
    #sobre-mi {
        background-color: var(--color-secundario);
    }

    /* section skills */
    #skills {
        background-color: var(--color-primario);
    }

    .skills-grid {
        grid-template-columns: repeat(176px);
    }

    .skills-grid-card {
        height: 158px;
        background-color: #E5E5E5;
    }

    /* section hobbies */
    #hobbies {
        background-color: var(--color-primario);
    }

    .hobbies-grid-card {
        height: 158px;
        background-color: #E5E5E5;
    }

    /* section formacion */
    #formacion {
        background-color: var(--color-secundario);
    }

    .formacion-academica figure {
        height: 368px;
        background-color: none;
    }

    .img-formacion {
        height: 286px;
        background-color: #E5E5E5;
    }

    .img-formacion img {
        height: 150px;
        width: auto;
    }

    /* section proyectos/experiencia */
    #proyectos {
        background-color: var(--color-primario);
    }

    .proyecto-card {
        display: grid;
        grid-template-columns: auto 1fr;

        max-height: 406px;

        grid-gap: 16px;
        max-width: 100%;




    }

    .proyecto-card-impar {
        justify-content: space-between;

    }

    .img-card-impar {
        order: 1;
    }

    .img-project-card {
        max-width: 752px;

        height: 100%;
        object-fit: cover;
    }

    .proyecto-card figcaption {
        align-content: center;
    }


    .botones-enlaces li {
        height: 51px;
        width: 116px;
    }

    /* section contacto */
    #contacto {
        background-color: var(--color-secundario);
    }

    .section-div-contacto {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: space-between;
        grid-gap: 16px;
        

    }

    .section-div-contacto img {

        height: 593px;
        max-width: 464px;
        display: flex;
        object-fit: cover;
    }

    /* label,
    input,
    textarea {
        width: 100%;
    } */

    .form-contact {
        max-width: 656px;
    }
}