/* - styles.css     (estilos generales: tipografía, colores) */


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* TIPOGRAFÍA */
:root{
   
    --color-primario: #EDEDED;
     /* 
    --color-secundario: #E68369;
    --color-terciario: #ECCEAE;
    --color-hover: #272727; */

    --fuente-raleway: "Raleway", sans-serif;
    
}